<?xml version="1.0"?>
<zend-config xmlns:zf="http://framework.zend.com/xml/zend-config-xml/1.0/">
		<plugin>

            <!-- the plugin name [A-Za-z_] -->
            <pluginName>GroupDocsViewerJava</pluginName>

            <pluginNiceName>GroupDocs Viewer for Java</pluginNiceName>

            <!-- a short description -->
			<pluginDescription>GroupDocs Viewer for Java plugin for PimCore CMS</pluginDescription>

            <!-- meta data -->
            <pluginVersion>1.0.0</pluginVersion>
            <pluginRevision>1</pluginRevision>
            <pluginBuildTimestamp>0</pluginBuildTimestamp>

            <!-- put in the URL for the plugin configuration eg. /plugin/GroupDocsViewerJava/admin/index -->
            <pluginIframeSrc></pluginIframeSrc>

            <!-- className of the plugin which extends Pimcore_API_Plugin_Abstract-->
			<pluginClassName>GroupDocsViewerJava_Plugin</pluginClassName>

            <!-- include paths relative to plugin-directory -->
			<pluginIncludePaths>
				<path>/GroupDocsViewerJava/lib</path>
                <path>/GroupDocsViewerJava/models</path>
			</pluginIncludePaths>

			<!-- namespaces to register with autoloader-->
			<pluginNamespaces>
				<namespace>GroupDocsViewerJava</namespace>
			</pluginNamespaces>

			<!-- js files with path relative to plugin-directory -->
			<pluginJsPaths>
                <path>/plugins/GroupDocsViewerJava/static/js/admin.js</path>
			</pluginJsPaths>

			<!-- css files with path relative to plugin-directory -->
			<pluginCssPaths>
                <path>/plugins/GroupDocsViewerJava/static/css/admin.css</path>
			</pluginCssPaths>
		</plugin>
</zend-config>
